[submodule "algo/Python"]
	path = algo/Python
	url = https://github.com/TheAlgorithms/Python.git
[submodule "algo/algorithms"]
	path = algo/algorithms
	url = https://github.com/keon/algorithms.git
[submodule "anime/manim"]
	path = anime/manim
	url = https://github.com/3b1b/manim.git
