[submodule "algo/Python"]
	path = algo/Python
	url = https://github.com/TheAlgorithms/Python.git
[submodule "algo/algorithms"]
	path = algo/algorithms
	url = https://github.com/keon/algorithms.git
[submodule "tool/python-telegram-bot"]
	path = tool/python-telegram-bot
	url = https://github.com/python-telegram-bot/python-telegram-bot
