[submodule "algo/Python"]
	path = others/Python
	url = https://github.com/TheAlgorithms/Python.git
[submodule "algo/algorithms"]
	path = others/algorithms
	url = https://github.com/keon/algorithms.git
[submodule "tool/python-telegram-bot"]
	path = others/python-telegram-bot
	url = https://github.com/python-telegram-bot/python-telegram-bot
[submodule "others/TexasSolver"]
	path = others/TexasSolver
	url = https://github.com/bupticybee/TexasSolver.git
[submodule "others/500lines"]
	path = others/500lines
	url = https://github.com/aosabook/500lines.git
